body {
    background-color: #E6E6E6;
    color: #101010;
    line-height: 154%;
    margin: 0;
    overscroll-behavior: none;
    font-size: 81.25%;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}

.secOne {
    width: 50%;
    padding-left: 10%;
    padding-top: 5px;
}

.secOne img {
    width: 50%;
}

.h1One {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

.h1Two {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color: rgba(255, 166, 0, 0.842);
}

.firstButton {
    background-color: #af574c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.v1 {
    border-left: 6px solid green;
    height: 150px;
    position: absolute;
    left: 10%;
    margin-left: -25px;
    top: 35px;

}

.item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;

    border-radius: 2px;
    box-shadow: 10px 10px 10px gray;
}

.flexible-container {
    display: flex;
    margin-bottom: 120px;
}

#border1 {
    background-color: rgb(235, 177, 108);
    border-image-slice: 1;
    border-radius: 20px;
    width: 500px;
    height: 500px;

}

#border2 {
    background-color: aquamarine;
    border-image-slice: 1;
    border-radius: 20px;

}

#border3 {
    background-color: #af574c;
    border-image-slice: 1;
    border-radius: 20px;

}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(10, 10, 10);
    color: white;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 17px;
}